


body {
  font-family: 'poppins', sans-serif;
  margin: 0;
}
.card{
    padding-left: 70px;
    
}

.navbar{
    display: flex;
    padding-left: 120px;
    padding-top: 35px;
    gap: 200px;
}


.nav-menu {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    list-style: none;
}
.nav-menu li a{
    color: black;
    text-decoration: none;
    font-weight: bold;

    
}
.nav-menu li a:hover,
.nav-menu li a.active {
  color: #00bcd4;
}
.card-1 {
    padding-left: 150px;
    display: flex;
    gap: 20px;
}
.card-1 p{
    font-size: 15px;
    line-height: 23px;
    width: 300px;
    opacity: 0.7;
}
.card-2 h6{
    font-size: 11px;
    width:300px ;
    font-style: inherit;
    opacity: 0.8;
    
}
.card-2 p:hover{
    color: #00bcd4;
}




.list1{
display: flex;
gap: 13px;
font-size: 12px;
}
.list1 p:hover{
color: #00bcd4;

}
.list1 p{
    font-size: 12px;
    padding-top: -100px;
}
.ul {
    color: #00bcd4;
    list-style: none;
}
.ul :hover{
    color: black;
}
.ul p{
    padding-left: 100px;
}
.a h3{
    margin-top: -67px;
    padding-left: 40px;
    font-size: xx-large;
}
.a img{
    padding-left: 40px;
}
.a p{
    padding-left: 40px;
    width: 220px;
    font-size: 11px;
}
.a h4{
    padding-left: 40px;
}
.a h4:hover{
    color: #00bcd4;
}
.aa{
    padding-left: 100px;
    padding-top: 100px;
    display: flex;
}
.aaaa p:hover{
color: #00bcd4;
}
.aaaa p{
    font-size: 13px;
}


.circle{
  border: 2px solid  black;
  width: 8px;
  height:8px;
  border-radius: 50%;
  
}
.circle:hover{
  background-color: #00bcd4;
}
.to{

  display: flex;
  gap: 7px;
}
.warm img{
  position: fixed;
  bottom: 20px;
  right:20px;
  z-index: 1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-inline-start: 1179px;
}
.warm p{
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 180px;

  margin-inline-start: 1000px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color:#e6e9ea;
  font-size: 13px;
  padding-left: 150px;
  opacity: 0.7;
}
.footer a{
  text-decoration: none;
  color: black;
  
}
.footer a:hover{
  color:#00bcd4;
}


